<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            background-color:rgb(39, 171, 211);
        }
        .forms{
            color:rgb(13, 61, 63);   
            width: 200px;
            height: 200px;
            margin-top: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            font-size: 45px;
        }
    </style>
</head>
<body>
    <center>
    <div class="forms">
    <form method="post">
        
        {% csrf_token %}
        {{ form }}</br>
        <button type="submit">Wybierz</button>
    </form>
    </div>
</center>

</body>
</html>